<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
</head>

<body>
    <h1>
        Name: <%= shop.name%>
    </h1>
    <div>Created at: <%= shop.createdAt%>
    </div>
    <div>
        <a href="/api/product/filter/<%= shop._id%>">Get all Products of this Shop</a>
    </div>
    <div>
        <a href="/api/shop/edit/<%= shop._id%>">Edit</a>
    </div>

    <div>
        <a href="/api/shop/all">Return to main Page</a>
    </div>

</body>

</html>